/**
 * SASS/SCSS Relative Units.
 */
/** Hepler. Remove unit from input number **/
/** Hepler. Make unit from input number. Replace $value unit to target unit **/
/**
 * Convert functions.
 */
/** PX to EM (based on $font-size) **/
/** EM to PX (based on $font-size) **/
/** PX to REM (based on $base-font-size) **/
/** REM to PX (based on $font-size) **/
/** EM to REM (based on $font-size) **/
/** REM to EM (based on $font-size) **/
/* line 7, ../test/test.scss */
#test {
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
  line-height: 1.2;
}

/* line 14, ../test/test.scss */
#test2 {
  top: 24em;
  right: 24em;
  bottom: 24em;
  left: 24em;
  line-height: 1.2;
}

/* line 21, ../test/test.scss */
#test3 {
  top: 24rem;
  right: 24rem;
  bottom: 24rem;
  left: 24rem;
  line-height: 1.2;
}

/* line 30, ../test/test.scss */
#test5 {
  top: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
}

/* line 36, ../test/test.scss */
#test6 {
  top: 384px;
  right: 384px;
  bottom: 384px;
  left: 384px;
}

/* line 42, ../test/test.scss */
#test7 {
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
}

/* line 48, ../test/test.scss */
#test8 {
  top: 288px;
  right: 288px;
  bottom: 288px;
  left: 288px;
}

/* line 54, ../test/test.scss */
#test9 {
  top: 32rem;
  right: 32rem;
  bottom: 32rem;
  left: 32rem;
}

/* line 60, ../test/test.scss */
#test10 {
  top: 18em;
  right: 18em;
  bottom: 18em;
  left: 18em;
}

/* line 73, ../test/test.scss */
#test11 {
  border-width: 24px 25px 26px 27px;
  padding: 24em 25em 26em 27em;
  margin: 24rem 25rem 26rem 27rem;
}

/* line 78, ../test/test.scss */
#test12 {
  border-width: 24px 25px 26px 27px;
  padding: 1.5em 1.5625em 1.625em 1.6875em;
  margin: 2rem 2.08333rem 2.16667rem 2.25rem;
}

/* line 83, ../test/test.scss */
#test13 {
  border-width: 288px 300px 312px 324px;
  padding: 24em 25em 26em 27em;
  margin: 32rem 33.33333rem 34.66667rem 36rem;
}

/* line 88, ../test/test.scss */
#test14 {
  border-width: 288px 300px 312px 324px;
  padding: 18em 18.75em 19.5em 20.25em;
  margin: 24rem 25rem 26rem 27rem;
}

/* line 93, ../test/test.scss */
#test15 {
  border-width: 24px 25px 312px 324px;
  padding: 24em 1.5625em 26em 20.25em;
  margin: 24rem 2.08333rem 26rem 27rem;
}

/* line 98, ../test/test.scss */
#test16 {
  border-width: 0px 0px 0px 0px;
  padding: 0em 0em 0em 0em;
  margin: 0rem 0rem 0rem 0rem;
}

/* line 103, ../test/test.scss */
#test17 {
  margin: 24em 25em 26em 27em;
  padding: 2em 2.08333em 2.16667em 2.25em;
  border-width: 24em 25em 26em 27em;
  outline-width: 24em 25em 26em 27em;
}

/* line 109, ../test/test.scss */
#test17-2 {
  padding: 24em 2.08333em 26em 27em;
  margin: 0em 0em 0em 0em;
}

/* line 113, ../test/test.scss */
#test18 {
  margin: 24px 25px 26px 27px;
  margin: 24rem 25rem 26rem 27rem;
  padding: 2rem 2.08333rem 2.16667rem 2.25rem;
  border-width: 288px 300px 312px 324px;
  border-width: 24rem 25rem 26rem 27rem;
  outline-width: 288px 300px 312px 324px;
  outline-width: 24rem 25rem 26rem 27rem;
}

/* line 119, ../test/test.scss */
#test18-2 {
  padding: 24rem 2.08333rem 26rem 27rem;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
}
